<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
    </startup>
    <appSettings>
        <add key="BufferTestsPath" value="C:\Users\Karl\Desktop\UnderworldStudy\BufferTests" />
        <add key="BasePath" value="C:\Users\Karl\Desktop\UnderworldStudy\" />
        <add key="UWOriginalPath" value="C:\Users\Karl\Desktop\UnderworldStudy\UW" />
        <add key="UWCleanedPath" value="C:\Users\Karl\Desktop\UnderworldStudy\UW - Cleaned" />
        <add key="UWArkOriginalPath" value="C:\Users\Karl\Desktop\UnderworldStudy\UW\data\lev.ark" />
        <add key="UWArkCleanedPath" value="C:\Users\Karl\Desktop\UnderworldStudy\UW - Cleaned\data\lev.ark" />
        <add key="RUTTestDataPath"
             value="C:\Users\Karl\Desktop\UnderworldStudy\UnderworldRandomizer\RandomizerUnitTests\testdata" />
    </appSettings>
</configuration>