<?xml version="1.0" encoding="utf-8"?>

<!-- This is the config file for the Visual Studio test runner -->
<!-- Use ReSharperTestRunner.dll.config for testing using Rider -->
<!-- The contents of both should be exactly the same -->

<configuration>
    <startup>
    </startup>
    <appSettings>
        <add key="UWArkOriginalPath" value="C:\Users\karl9\OneDrive\UnderworldStudy\GameFiles\UW\data\lev.ark"/>
        <add key="UWArkCleanedPath" value="C:\Users\karl9\OneDrive\UnderworldStudy\GameFiles\UW - Cleaned\data\lev.ark"/>
        <add key="UWCMBPath" value="C:\Users\karl9\OneDrive\UnderworldStudy\GameFiles\UW\DATA\CMB.DAT"/>
        <add key="UWArkDifficultPath" value="C:\Users\karl9\OneDrive\UnderworldStudy\GameFiles\UW\DATA\levdifficult.ark"/>
    </appSettings>
</configuration>