<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
    </startup>
    <appSettings>
        <add key="BufferTestsPath" value="C:\Users\karl9\OneDrive\UnderworldStudy\BufferTests"/>
        <add key="BasePath" value="C:\Users\karl9\OneDrive\UnderworldStudy\"/>
        <add key="UWOriginalPath" value="C:\Users\karl9\OneDrive\UnderworldStudy\UW"/>
        <add key="UWCleanedPath" value="C:\Users\karl9\OneDrive\UnderworldStudy\UW - Cleaned"/>
        <add key="UWArkOriginalPath" value="C:\Users\karl9\OneDrive\UnderworldStudy\UW\data\lev.ark"/>
        <add key="UWArkCleanedPath" value="C:\Users\karl9\OneDrive\UnderworldStudy\UW - Cleaned\data\lev.ark"/>
        <add key="RUTTestDataPath"
             value="C:\Users\karl9\OneDrive\UnderworldStudy\UnderworldRandomizer\UWRandomizerUnitTests\testdata"/>
        <!-- This points to a file that had all door locks removed, but was later reloaded in the Ultimate Editor, and re-saved -->
        <add key="UWArkCleanedNoDoorsPath_Fixed"
             value="C:\Users\karl9\OneDrive\UnderworldStudy\BufferTests\Testing what Ultimate Editor Fixes\cleaned_nodoors_fixed.ark"/>
        <add key="UWCMBPath" value="C:\Users\karl9\OneDrive\UnderworldStudy\UW\DATA\CMB.DAT"/>
        <add key="UWArkDifficultPath" value="C:\Users\karl9\OneDrive\UnderworldStudy\UW\DATA\levdifficult.ark"/>
    </appSettings>
</configuration>